.bin {
  width: auto;
  height: 10vh;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: left;
  padding: 2.5vh 20%;
  font-size: 4.5vh;
  font-weight: 700;
}

.FullBin {
  color: white;
  background-color: #ED6B5A;
}

.EmptyBin {
  color: black;
  background-color: #FFB8AF;
}